<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.crm.cm.mapper.activity.ActivityCompensateMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.crm.cm.domain.activity.ActivityCompensate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="activity_node" jdbcType="VARCHAR" property="activityNode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="execute_num" jdbcType="INTEGER" property="executeNum" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_code" jdbcType="VARCHAR" property="createCode" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="last_modify_code" jdbcType="VARCHAR" property="lastModifyCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, activity_id, activity_node, status, execute_num, is_del, create_time, create_code, 
    last_modify_time, last_modify_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.activity.ActivityCompensateKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_activity_compensate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.activity.ActivityCompensateKey">
    delete from o_activity_compensate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ziroom.crm.cm.domain.activity.ActivityCompensate">
    insert into o_activity_compensate (id, activity_id, activity_node, 
      status, execute_num, is_del, 
      create_time, create_code, last_modify_time, 
      last_modify_code)
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{activityNode,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{executeNum,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createCode,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{lastModifyCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.crm.cm.domain.activity.ActivityCompensate">
    insert into o_activity_compensate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="activityNode != null">
        activity_node,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="executeNum != null">
        execute_num,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createCode != null">
        create_code,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="lastModifyCode != null">
        last_modify_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityNode != null">
        #{activityNode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="executeNum != null">
        #{executeNum,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null">
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyCode != null">
        #{lastModifyCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.crm.cm.domain.activity.ActivityCompensate">
    update o_activity_compensate
    <set>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityNode != null">
        activity_node = #{activityNode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="executeNum != null">
        execute_num = #{executeNum,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null">
        create_code = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyCode != null">
        last_modify_code = #{lastModifyCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.activity.ActivityCompensate">
    update o_activity_compensate
    set activity_id = #{activityId,jdbcType=BIGINT},
      activity_node = #{activityNode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      execute_num = #{executeNum,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_code = #{createCode,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      last_modify_code = #{lastModifyCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>