<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.crm.cm.mapper.order.oLockApplyRecordMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.crm.cm.domain.order.oLockApplyRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apply_user_code" jdbcType="VARCHAR" property="applyUserCode" />
    <result column="business_key" jdbcType="BIGINT" property="businessKey" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="apply_pwd_time" jdbcType="TIMESTAMP" property="applyPwdTime" />
    <result column="is_online" jdbcType="VARCHAR" property="isOnline" />
    <result column="password_id" jdbcType="BIGINT" property="passwordId" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator_code" jdbcType="VARCHAR" property="creatorCode" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, apply_user_code, business_key, start_time, end_time, apply_pwd_time, is_online, 
    password_id, is_del, create_time, creator_code, last_modify_time, modifier_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.order.oLockApplyRecordKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_lock_apply_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.order.oLockApplyRecordKey">
    delete from o_lock_apply_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ziroom.crm.cm.domain.order.oLockApplyRecord">
    insert into o_lock_apply_record (id, apply_user_code, business_key, 
      start_time, end_time, apply_pwd_time, 
      is_online, password_id, is_del, 
      create_time, creator_code, last_modify_time, 
      modifier_code)
    values (#{id,jdbcType=BIGINT}, #{applyUserCode,jdbcType=VARCHAR}, #{businessKey,jdbcType=BIGINT}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{applyPwdTime,jdbcType=TIMESTAMP}, 
      #{isOnline,jdbcType=VARCHAR}, #{passwordId,jdbcType=BIGINT}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creatorCode,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{modifierCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.crm.cm.domain.order.oLockApplyRecord">
    insert into o_lock_apply_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applyUserCode != null">
        apply_user_code,
      </if>
      <if test="businessKey != null">
        business_key,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="applyPwdTime != null">
        apply_pwd_time,
      </if>
      <if test="isOnline != null">
        is_online,
      </if>
      <if test="passwordId != null">
        password_id,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creatorCode != null">
        creator_code,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applyUserCode != null">
        #{applyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="businessKey != null">
        #{businessKey,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyPwdTime != null">
        #{applyPwdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isOnline != null">
        #{isOnline,jdbcType=VARCHAR},
      </if>
      <if test="passwordId != null">
        #{passwordId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorCode != null">
        #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.crm.cm.domain.order.oLockApplyRecord">
    update o_lock_apply_record
    <set>
      <if test="applyUserCode != null">
        apply_user_code = #{applyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="businessKey != null">
        business_key = #{businessKey,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyPwdTime != null">
        apply_pwd_time = #{applyPwdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isOnline != null">
        is_online = #{isOnline,jdbcType=VARCHAR},
      </if>
      <if test="passwordId != null">
        password_id = #{passwordId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorCode != null">
        creator_code = #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.order.oLockApplyRecord">
    update o_lock_apply_record
    set apply_user_code = #{applyUserCode,jdbcType=VARCHAR},
      business_key = #{businessKey,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      apply_pwd_time = #{applyPwdTime,jdbcType=TIMESTAMP},
      is_online = #{isOnline,jdbcType=VARCHAR},
      password_id = #{passwordId,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator_code = #{creatorCode,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier_code = #{modifierCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>