<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.crm.cm.mapper.order.oSigninRecordMapper">
  <resultMap id="BaseResultMap" type="com.ziroom.crm.cm.domain.order.oSigninRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="business_key" jdbcType="BIGINT" property="businessKey" />
    <result column="signin_scene" jdbcType="VARCHAR" property="signinScene" />
    <result column="inv_no" jdbcType="BIGINT" property="invNo" />
    <result column="signin_user_code" jdbcType="VARCHAR" property="signinUserCode" />
    <result column="has_smart_lock" jdbcType="VARCHAR" property="hasSmartLock" />
    <result column="is_online" jdbcType="VARCHAR" property="isOnline" />
    <result column="is_signin_success" jdbcType="VARCHAR" property="isSigninSuccess" />
    <result column="signin_type" jdbcType="VARCHAR" property="signinType" />
    <result column="signin_time" jdbcType="TIMESTAMP" property="signinTime" />
    <result column="signin_lon" jdbcType="VARCHAR" property="signinLon" />
    <result column="signin_lat" jdbcType="VARCHAR" property="signinLat" />
    <result column="dest_lon" jdbcType="VARCHAR" property="destLon" />
    <result column="dest_lat" jdbcType="VARCHAR" property="destLat" />
    <result column="apply_pwd_time" jdbcType="TIMESTAMP" property="applyPwdTime" />
    <result column="open_lock_time" jdbcType="TIMESTAMP" property="openLockTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator_code" jdbcType="VARCHAR" property="creatorCode" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, business_key, signin_scene, inv_no, signin_user_code, has_smart_lock, is_online, 
    is_signin_success, signin_type, signin_time, signin_lon, signin_lat, dest_lon, dest_lat, 
    apply_pwd_time, open_lock_time, is_del, create_time, creator_code, last_modify_time, 
    modifier_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.order.oSigninRecordKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_signin_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.order.oSigninRecordKey">
    delete from o_signin_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ziroom.crm.cm.domain.order.oSigninRecord">
    insert into o_signin_record (id, business_key, signin_scene, 
      inv_no, signin_user_code, has_smart_lock, 
      is_online, is_signin_success, signin_type, 
      signin_time, signin_lon, signin_lat, 
      dest_lon, dest_lat, apply_pwd_time, 
      open_lock_time, is_del, create_time, 
      creator_code, last_modify_time, modifier_code
      )
    values (#{id,jdbcType=BIGINT}, #{businessKey,jdbcType=BIGINT}, #{signinScene,jdbcType=VARCHAR}, 
      #{invNo,jdbcType=BIGINT}, #{signinUserCode,jdbcType=VARCHAR}, #{hasSmartLock,jdbcType=VARCHAR}, 
      #{isOnline,jdbcType=VARCHAR}, #{isSigninSuccess,jdbcType=VARCHAR}, #{signinType,jdbcType=VARCHAR}, 
      #{signinTime,jdbcType=TIMESTAMP}, #{signinLon,jdbcType=VARCHAR}, #{signinLat,jdbcType=VARCHAR}, 
      #{destLon,jdbcType=VARCHAR}, #{destLat,jdbcType=VARCHAR}, #{applyPwdTime,jdbcType=TIMESTAMP}, 
      #{openLockTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creatorCode,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{modifierCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.crm.cm.domain.order.oSigninRecord">
    insert into o_signin_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="businessKey != null">
        business_key,
      </if>
      <if test="signinScene != null">
        signin_scene,
      </if>
      <if test="invNo != null">
        inv_no,
      </if>
      <if test="signinUserCode != null">
        signin_user_code,
      </if>
      <if test="hasSmartLock != null">
        has_smart_lock,
      </if>
      <if test="isOnline != null">
        is_online,
      </if>
      <if test="isSigninSuccess != null">
        is_signin_success,
      </if>
      <if test="signinType != null">
        signin_type,
      </if>
      <if test="signinTime != null">
        signin_time,
      </if>
      <if test="signinLon != null">
        signin_lon,
      </if>
      <if test="signinLat != null">
        signin_lat,
      </if>
      <if test="destLon != null">
        dest_lon,
      </if>
      <if test="destLat != null">
        dest_lat,
      </if>
      <if test="applyPwdTime != null">
        apply_pwd_time,
      </if>
      <if test="openLockTime != null">
        open_lock_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creatorCode != null">
        creator_code,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessKey != null">
        #{businessKey,jdbcType=BIGINT},
      </if>
      <if test="signinScene != null">
        #{signinScene,jdbcType=VARCHAR},
      </if>
      <if test="invNo != null">
        #{invNo,jdbcType=BIGINT},
      </if>
      <if test="signinUserCode != null">
        #{signinUserCode,jdbcType=VARCHAR},
      </if>
      <if test="hasSmartLock != null">
        #{hasSmartLock,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null">
        #{isOnline,jdbcType=VARCHAR},
      </if>
      <if test="isSigninSuccess != null">
        #{isSigninSuccess,jdbcType=VARCHAR},
      </if>
      <if test="signinType != null">
        #{signinType,jdbcType=VARCHAR},
      </if>
      <if test="signinTime != null">
        #{signinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signinLon != null">
        #{signinLon,jdbcType=VARCHAR},
      </if>
      <if test="signinLat != null">
        #{signinLat,jdbcType=VARCHAR},
      </if>
      <if test="destLon != null">
        #{destLon,jdbcType=VARCHAR},
      </if>
      <if test="destLat != null">
        #{destLat,jdbcType=VARCHAR},
      </if>
      <if test="applyPwdTime != null">
        #{applyPwdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openLockTime != null">
        #{openLockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorCode != null">
        #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.crm.cm.domain.order.oSigninRecord">
    update o_signin_record
    <set>
      <if test="businessKey != null">
        business_key = #{businessKey,jdbcType=BIGINT},
      </if>
      <if test="signinScene != null">
        signin_scene = #{signinScene,jdbcType=VARCHAR},
      </if>
      <if test="invNo != null">
        inv_no = #{invNo,jdbcType=BIGINT},
      </if>
      <if test="signinUserCode != null">
        signin_user_code = #{signinUserCode,jdbcType=VARCHAR},
      </if>
      <if test="hasSmartLock != null">
        has_smart_lock = #{hasSmartLock,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null">
        is_online = #{isOnline,jdbcType=VARCHAR},
      </if>
      <if test="isSigninSuccess != null">
        is_signin_success = #{isSigninSuccess,jdbcType=VARCHAR},
      </if>
      <if test="signinType != null">
        signin_type = #{signinType,jdbcType=VARCHAR},
      </if>
      <if test="signinTime != null">
        signin_time = #{signinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signinLon != null">
        signin_lon = #{signinLon,jdbcType=VARCHAR},
      </if>
      <if test="signinLat != null">
        signin_lat = #{signinLat,jdbcType=VARCHAR},
      </if>
      <if test="destLon != null">
        dest_lon = #{destLon,jdbcType=VARCHAR},
      </if>
      <if test="destLat != null">
        dest_lat = #{destLat,jdbcType=VARCHAR},
      </if>
      <if test="applyPwdTime != null">
        apply_pwd_time = #{applyPwdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openLockTime != null">
        open_lock_time = #{openLockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorCode != null">
        creator_code = #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.crm.cm.domain.order.oSigninRecord">
    update o_signin_record
    set business_key = #{businessKey,jdbcType=BIGINT},
      signin_scene = #{signinScene,jdbcType=VARCHAR},
      inv_no = #{invNo,jdbcType=BIGINT},
      signin_user_code = #{signinUserCode,jdbcType=VARCHAR},
      has_smart_lock = #{hasSmartLock,jdbcType=VARCHAR},
      is_online = #{isOnline,jdbcType=VARCHAR},
      is_signin_success = #{isSigninSuccess,jdbcType=VARCHAR},
      signin_type = #{signinType,jdbcType=VARCHAR},
      signin_time = #{signinTime,jdbcType=TIMESTAMP},
      signin_lon = #{signinLon,jdbcType=VARCHAR},
      signin_lat = #{signinLat,jdbcType=VARCHAR},
      dest_lon = #{destLon,jdbcType=VARCHAR},
      dest_lat = #{destLat,jdbcType=VARCHAR},
      apply_pwd_time = #{applyPwdTime,jdbcType=TIMESTAMP},
      open_lock_time = #{openLockTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator_code = #{creatorCode,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier_code = #{modifierCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>